.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.title{
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 2rem 0;
}

.title h1{
    margin: 5px 0;
    padding: 12px 10px;
    color: white;
}

.hero{
    display: flex;
    flex-direction: column;
    
    width: 60%;
    margin: 20px 0;
}

.hero input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    border-radius: 8px;
}



button{
    padding: 12px 10px;
    font-size: 24px;
    width: 260px;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(6, 8, 50);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(6, 1, 71);
    color: white;
}
.note{
    font-size: 15px;
}

ul li{
    font-size: 18px;
}

.hero-section{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1em 0;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.c-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    width: 100%;
    color: white;
}

.info p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 6px 0;
    margin: 0;
}

.header h1{
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    padding: 6px 0;
    margin: 0;
}